<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房屋信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/dpms/site/js/layuibase/plugins/layui/css/layui.css"  media="all">
</head>
<body>
<table class="layui-hide" id="demo"></table>
<script src="/dpms/site/js/layuibase/plugins/layui/layui.js" charset="utf-8"></script>
<p>这里是房屋信息管理界面</p>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,url: '/dpms/roomManage/getAllRoomMessage' //数据接口
            ,cols: [[ //表头
                {field: 'building_name', title: '楼宇名' ,sort: true}
                ,{field: 'room_id', title: '房间号'}
                ,{field: 'area', title: '房屋面积'}
            ]]
            ,even: true
            ,page: true //是否显示分页
            ,limits: [5,7,10]
        });

    });

</script>
</body>
</html>